@using onion_architeture.Models
@model onion_architeture.Models.Contact
{
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Dodaj kontakt</h1>
<form asp-controller="Contact" asp-action="Create" method="post">
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span class="text-danger" asp-validation-for="Name"></span>

    <label asp-for="Email"></label>
    <input class="form-control" asp-for="Email" />
    <span class="text-danger" asp-validation-for="Email"></span>

    <label asp-for="Phone"></label>
    <input class="form-control" asp-for="Phone" />
    <span class="text-danger" asp-validation-for="Phone"></span>

    <label asp-for="Birth"></label>
    <input class="form-control" asp-for="Birth" />
    <span class="text-danger" asp-validation-for="Birth"></span>

    <div>
        <label asp-for="Priority"></label>
        <div>
            <span asp-validation-for="Priority" class="text-danger"></span>
        </div>
        <select class="form-control" asp-for="Priority" asp-items="@Html.GetEnumSelectList<Priority>()"></select>
    </div>

    <button type="submit">Dodaj</button>

</form>
